<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
	<link href="//db.onlinewebfonts.com/c/e05b78cd627ded97c38881306e3601fe?family=FuturaBookC" rel="stylesheet" type="text/css"/>
	<link href="https://db.onlinewebfonts.com/c/06b73c421b7c269c7a0cb40df0daba21?family=futurademic" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href='style.css'>
	<title>AR.CHI</title>
</head>


<body>
<div class="app testing">

	<header>
		<div class='container'>
			<div class="app-navbar flex">
				<div class='logo-and-locale flex'>
					<p class='nav-logo uppercased'>ar.chi</p>
					<div class='nav-locale flex'>
						<input class='nav-locale__switcher-checkbox' type='checkbox' id='locale'/>
						<label class='nav-locale__switcher-rus-label' for='locale'>
							<p class='nav-locale__rus-value uppercased'>rus</p>
						</label>
						<label class='nav-locale__switcher-eng-label' for='locale'>
							<p class='nav-locale__eng-value active uppercased'>eng</p>
						</label>
					</div>
				</div>

				<div class='nav-block flex'>
					<input class='nav-block__switcher-hamburger' type='checkbox' id='menu'/>
					<input class='nav-block__switcher-search' type='checkbox' id='search'/>
					<div class='nav-block__menu-row nav-menu__element--open'>
						<ul class='flex'>
							<li>
								<a href="#">About us</a>
							</li>
							<li>
								<a href="#">Architecture</a>
							</li>
							<li>
								<a href="#">Interior</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
							<li>
								<a href="#">Shop</a>
							</li>
						</ul>
					</div>
					<div class='nav-search nav-menu__element--open'>
						<div class='nav-search__border-bottom'></div>
						<label class='nav-search__label-open' for='search'>
							<i class='nav-search__icon-label'></i>
						</label>
						<i class='nav-search__icon'></i>

						<input class='nav-search__input' type='text' placeholder='What are you looking for?'>

						<label class='nav-search__label-close' for='search'>
							<div class='nav-search__button-closure flex'>
								<div class='nav-search__icon-closure'>
									<div class='border-left'></div>
									<div class='border-right'></div>
								</div>
							</div>
						</label>

					</div>
					<label class='nav-menu__element--open' for='menu'>
						<i class='nav-menu__hamburger-icon'></i>
					</label>

					<nav>
						<div class='nav-block__menu-column-bg'>
							<div class='nav-block__menu-column'>
								<a href='#' class='menu-item'>About Us</a>
								<div class='nav-block__menu-column-image left'>
									<div class='shadow-block left about-us-block'></div>
									<div class='about-us'></div>
								</div>
								<a  href='#' class='menu-item'>Interior</a>
								<div class='nav-block__menu-column-image right'>
									<div class='shadow-block right interior-block'></div>
									<div class='interior'></div>
								</div>
								<a  href='#' class='menu-item'>Architecture</a>
								<div class='nav-block__menu-column-image left'>
									<div class='shadow-block left architecture-block'></div>
									<div class='architecture'></div>
								</div>
								<a  href='#' class='menu-item'>Portfolio</a>
								<div class='nav-block__menu-column-image right'>
									<div class='shadow-block right portfolio-block'></div>
									<div class='portfolio'></div>
								</div>
								<a  href='#' class='menu-item'>Contact</a>
								<div class='nav-block__menu-column-image left'>
									<div class='shadow-block left contact-block'></div>
									<div class='contact'></div>
								</div>
							</div>
						</div>
					</nav>

					<label class='nav-menu__label-close' for='menu'>
						<div class='nav-search__button-closure flex'>
							<p class='menu-closure-text'>Close</p>
							<div class='nav-search__icon-closure'>
								<div class='border-left'></div>
								<div class='border-right'></div>
							</div>
						</div>
					</label>

				</div>

			</div>
		</div>
	</header>

	<main class="app-content">
		<div class="app-page">
			<div class='page-testing'>
				<div class='container'>
					<div class='page'>
						<h1 class="page__title">Testing</h1>

						<div class='flex page__greeting-row'>
							<div class='page-section'>
								<h4 class='page-section-subtitle'>Concept studio</h4>
								<p class='page-section-text'>In our best design works, the Customer will find interiors in various styles, from strict modern minimalism to luxurious, richly decorated, from inexpensive, budgetary solutions to elite and unique.</p>
							</div>

							<div class='page-section'>
								<h4 class='page-section-subtitle'>Everyday i’m</h4>
								<p class='page-section-text'>In our best design works, the Customer will find interiors in various styles, from strict modern minimalism to luxurious, richly decorated, from inexpensive, budgetary solutions to elite and unique.</p>
							</div>
						</div>

						<div class='page__buttons-row flex'>
							<div class='button flex'>
								<p>Read More</p>
								<div class='button__border'></div>
							</div>
							<div class='view-button flex'>
								<i class='view-button__icon'></i>
								<p>View project</p>
								<i class='view-button__border'></i>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div class='footer container'>
			<div class='footer__social-links flex'>
				<p class='footer__social-links-title'>Facebook</p>
				<p class='footer__social-links-title'>Vkontakte</p>
				<p class='footer__social-links-title'>Behance</p>
			</div>
			<div class='footer__slider'>

				<a href='slide_1.html'>
					<div class='footer__slider-arrow-left'></div>
				</a>
				<div class='footer__slider-current-page'>02</div>
				<div class='footer__slider-progress-bar'>
					<div class='footer__slider-progress-bar-active'></div>
				</div>
				<div class='footer__slider-current-total-page'>05</div>

				<div class='footer__slider-arrow-right'></div>

			</div>
		</div>
	</footer>

</div>

</body>
</html>